
@{
    ViewData["Title"] = "Home Page";
    Layout = null;

}

<link href="~/css/Account/Index.css" rel="stylesheet" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<div class="d-flex bg">
    <div class="col-md-6">
        <div>
            Enes
        </div>
    </div>
    
</div>
